<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.JakartaWebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/h2-console/*</url-pattern>
    </servlet-mapping>
    <security-role>
        <role-name>IT</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>H2 Console</web-resource-name>
            <url-pattern>/h2-console/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>IT</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Sales Movie Resources</web-resource-name>
            <url-pattern>/movies/create.xhtml</url-pattern>
            <url-pattern>/movies/edit.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Sales</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administration Movies Resources</web-resource-name>
            <url-pattern>/movies/delete.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Administration</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-role>
        <role-name>Sales</role-name>
    </security-role>
    <security-role>
        <role-name>Administration</role-name>
    </security-role>

    <security-constraint>
        <display-name>Use HTTPS only</display-name>
        <web-resource-collection>
            <web-resource-name>sslResources</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <error-page>
        <error-code>401</error-code>
        <location>/errorpages/401.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/500.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/errorpages/expired.xhtml</location>
    </error-page>

</web-app>